rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Permitir la lectura de documentos de categorias a cualquier usuario autenticado
    match /categorias/{categoria} {
      allow read: if request.auth != null; // Permitir lectura solo si el usuario está autenticado
      allow create: if request.auth != null; // Permitir agregar categoría solo si el usuario está autenticado
      allow update, delete: if false; // No permitir actualización ni eliminación de categorías
    }

    // Regla para la colección de investigaciones
    match /investigaciones/{investigacionId} {
      // Permitir lectura de las investigaciones a cualquier usuario autenticado
      allow read: if request.auth != null;
      
      // Permitir creación de investigaciones solo a usuarios autenticados
      allow create: if request.auth != null;

      // Permitir actualización solo si el usuario es el autor de la investigación
      allow update: if request.auth != null && resource.data.idUsuario == request.auth.uid;

      // No permitir eliminación de investigaciones
      allow delete: if false;
    }

    // Regla global para otros documentos si es necesario (mantenerla según tu estructura)
    match /{document=**} {
      allow read, write: if request.auth != null; // Desactivar el acceso global por defecto
    }
  }
}
